ws-produce/src/main/resources/domain/ReqResSample/StorageResultMessage_SAP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
	targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:n1="urn:sap-com:document:sap:rfc:functions">
	<wsdl:documentation>
		<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
	</wsdl:documentation>
	<wsp:UsingPolicy wsdl:required="true" />
	<wsp:Policy wsu:Id="BN__ZBN_STORAGE_RESULT_MESSAGE">
		<wsp:ExactlyOne>
			<wsp:All>
				<sapattahnd:Enabled
					xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
				<saptrnbnd:OptimizedMimeSerialization
					xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
					wsp:Optional="true" />
				<wsaw:UsingAddressing
					xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
					wsp:Optional="true" />
				<wsp:All
					xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
					<sp:AsymmetricBinding
						xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
						xmlns:wsa="http://www.w3.org/2005/08/addressing"
						xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
						xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
						xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:InitiatorToken>
								<wsp:Policy>
									<sp:X509Token
										sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
										<wsp:Policy>
											<sp:WssX509V3Token10 />
										</wsp:Policy>
									</sp:X509Token>
								</wsp:Policy>
							</sp:InitiatorToken>
							<sp:RecipientToken>
								<wsp:Policy>
									<sp:X509Token
										sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
										<wsp:Policy>
											<sp:WssX509V3Token10 />
										</wsp:Policy>
									</sp:X509Token>
								</wsp:Policy>
							</sp:RecipientToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic128Rsa15 />
								</wsp:Policy>
							</sp:AlgorithmSuite>
							<sp:Layout>
								<wsp:Policy>
									<sp:Strict />
								</wsp:Policy>
							</sp:Layout>
							<sp:IncludeTimestamp />
							<sp:OnlySignEntireHeadersAndBody />
						</wsp:Policy>
					</sp:AsymmetricBinding>
					<sp:Wss10
						xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
						xmlns:wsa="http://www.w3.org/2005/08/addressing"
						xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
						xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
						xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:MustSupportRefKeyIdentifier />
							<sp:MustSupportRefIssuerSerial />
						</wsp:Policy>
					</sp:Wss10>
					<sp:SignedParts
						xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
						xmlns:wsa="http://www.w3.org/2005/08/addressing"
						xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
						xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
						xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<sp:Body />
						<sp:Header Name="Trace"
							Namespace="http://www.sap.com/webas/630/soap/features/runtime/tracing/" />
						<sp:Header Name="messageId"
							Namespace="http://www.sap.com/webas/640/soap/features/messageId/" />
						<sp:Header Name="CallerInformation"
							Namespace="http://www.sap.com/webas/712/soap/features/runtime/metering/" />
						<sp:Header Name="Session"
							Namespace="http://www.sap.com/webas/630/soap/features/session/" />
						<sp:Header Name="To"
							Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
						<sp:Header Name="From"
							Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
						<sp:Header Name="FaultTo"
							Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
						<sp:Header Name="ReplyTo"
							Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
						<sp:Header Name="MessageID"
							Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
						<sp:Header Name="RelatesTo"
							Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
						<sp:Header Name="Action"
							Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
						<sp:Header Name="To"
							Namespace="http://www.w3.org/2005/08/addressing" />
						<sp:Header Name="From"
							Namespace="http://www.w3.org/2005/08/addressing" />
						<sp:Header Name="FaultTo"
							Namespace="http://www.w3.org/2005/08/addressing" />
						<sp:Header Name="ReplyTo"
							Namespace="http://www.w3.org/2005/08/addressing" />
						<sp:Header Name="MessageID"
							Namespace="http://www.w3.org/2005/08/addressing" />
						<sp:Header Name="RelatesTo"
							Namespace="http://www.w3.org/2005/08/addressing" />
						<sp:Header Name="Action"
							Namespace="http://www.w3.org/2005/08/addressing" />
						<sp:Header Name="ReferenceParameters"
							Namespace="http://www.w3.org/2005/08/addressing" />
						<sp:Header Name="Sequence"
							Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" />
						<sp:Header Name="SequenceAcknowledgement"
							Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" />
						<sp:Header Name="AckRequested"
							Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" />
						<sp:Header Name="SequenceFault"
							Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" />
						<sp:Header Name="Sequence"
							Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
						<sp:Header Name="AckRequested"
							Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
						<sp:Header Name="SequenceAcknowledgement"
							Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
						<sp:Header Name="SequenceFault"
							Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
						<sp:Header Name="UsesSequenceSTR"
							Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
						<sp:Header Name="UsesSequenceSSL"
							Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
					</sp:SignedParts>
					<sp:EncryptedParts
						xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
						xmlns:wsa="http://www.w3.org/2005/08/addressing"
						xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
						xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
						xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<sp:Body />
					</sp:EncryptedParts>
					<sp:SignedEncryptedSupportingTokens
						xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
						xmlns:wsa="http://www.w3.org/2005/08/addressing"
						xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
						xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
						xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:UsernameToken
								sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
								<wsp:Policy>
									<sp:WssUsernameToken10 />
								</wsp:Policy>
							</sp:UsernameToken>
						</wsp:Policy>
					</sp:SignedEncryptedSupportingTokens>
				</wsp:All>
			</wsp:All>
			<wsp:All>
				<sapattahnd:Enabled
					xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
				<saptrnbnd:OptimizedXMLTransfer
					uri="http://xml.sap.com/2006/11/esi/esp/binxml"
					xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
					wsp:Optional="true" />
				<wsaw:UsingAddressing
					xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
					wsp:Optional="true" />
				<wsp:All
					xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
					<sp:AsymmetricBinding
						xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
						xmlns:wsa="http://www.w3.org/2005/08/addressing"
						xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
						xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
						xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:InitiatorToken>
								<wsp:Policy>
									<sp:X509Token
										sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
										<wsp:Policy>
											<sp:WssX509V3Token10 />
										</wsp:Policy>
									</sp:X509Token>
								</wsp:Policy>
							</sp:InitiatorToken>
							<sp:RecipientToken>
								<wsp:Policy>
									<sp:X509Token
										sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
										<wsp:Policy>
											<sp:WssX509V3Token10 />
										</wsp:Policy>
									</sp:X509Token>
								</wsp:Policy>
							</sp:RecipientToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic128Rsa15 />
								</wsp:Policy>
							</sp:AlgorithmSuite>
							<sp:Layout>
								<wsp:Policy>
									<sp:Strict />
								</wsp:Policy>
							</sp:Layout>
							<sp:IncludeTimestamp />
							<sp:OnlySignEntireHeadersAndBody />
						</wsp:Policy>
					</sp:AsymmetricBinding>
					<sp:Wss10
						xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
						xmlns:wsa="http://www.w3.org/2005/08/addressing"
						xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
						xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
						xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:MustSupportRefKeyIdentifier />
							<sp:MustSupportRefIssuerSerial />
						</wsp:Policy>
					</sp:Wss10>
					<sp:SignedParts
						xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
						xmlns:wsa="http://www.w3.org/2005/08/addressing"
						xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
						xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
						xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<sp:Body />
						<sp:Header Name="Trace"
							Namespace="http://www.sap.com/webas/630/soap/features/runtime/tracing/" />
						<sp:Header Name="messageId"
							Namespace="http://www.sap.com/webas/640/soap/features/messageId/" />
						<sp:Header Name="CallerInformation"
							Namespace="http://www.sap.com/webas/712/soap/features/runtime/metering/" />
						<sp:Header Name="Session"
							Namespace="http://www.sap.com/webas/630/soap/features/session/" />
						<sp:Header Name="To"
							Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
						<sp:Header Name="From"
							Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
						<sp:Header Name="FaultTo"
							Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
						<sp:Header Name="ReplyTo"
							Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
						<sp:Header Name="MessageID"
							Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
						<sp:Header Name="RelatesTo"
							Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
						<sp:Header Name="Action"
							Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
						<sp:Header Name="To"
							Namespace="http://www.w3.org/2005/08/addressing" />
						<sp:Header Name="From"
							Namespace="http://www.w3.org/2005/08/addressing" />
						<sp:Header Name="FaultTo"
							Namespace="http://www.w3.org/2005/08/addressing" />
						<sp:Header Name="ReplyTo"
							Namespace="http://www.w3.org/2005/08/addressing" />
						<sp:Header Name="MessageID"
							Namespace="http://www.w3.org/2005/08/addressing" />
						<sp:Header Name="RelatesTo"
							Namespace="http://www.w3.org/2005/08/addressing" />
						<sp:Header Name="Action"
							Namespace="http://www.w3.org/2005/08/addressing" />
						<sp:Header Name="ReferenceParameters"
							Namespace="http://www.w3.org/2005/08/addressing" />
						<sp:Header Name="Sequence"
							Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" />
						<sp:Header Name="SequenceAcknowledgement"
							Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" />
						<sp:Header Name="AckRequested"
							Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" />
						<sp:Header Name="SequenceFault"
							Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" />
						<sp:Header Name="Sequence"
							Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
						<sp:Header Name="AckRequested"
							Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
						<sp:Header Name="SequenceAcknowledgement"
							Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
						<sp:Header Name="SequenceFault"
							Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
						<sp:Header Name="UsesSequenceSTR"
							Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
						<sp:Header Name="UsesSequenceSSL"
							Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
					</sp:SignedParts>
					<sp:EncryptedParts
						xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
						xmlns:wsa="http://www.w3.org/2005/08/addressing"
						xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
						xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
						xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<sp:Body />
					</sp:EncryptedParts>
					<sp:SignedEncryptedSupportingTokens
						xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
						xmlns:wsa="http://www.w3.org/2005/08/addressing"
						xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
						xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
						xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:UsernameToken
								sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
								<wsp:Policy>
									<sp:WssUsernameToken10 />
								</wsp:Policy>
							</sp:UsernameToken>
						</wsp:Policy>
					</sp:SignedEncryptedSupportingTokens>
				</wsp:All>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="BN__ZBN_STORAGE_RESULT_MESSAGE_soap12">
		<wsp:ExactlyOne>
			<wsp:All>
				<sapattahnd:Enabled
					xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
				<saptrnbnd:OptimizedMimeSerialization
					xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
					wsp:Optional="true" />
				<wsaw:UsingAddressing
					xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
					wsp:Optional="true" />
				<wsp:All
					xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
					<sp:AsymmetricBinding
						xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
						xmlns:wsa="http://www.w3.org/2005/08/addressing"
						xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
						xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
						xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:InitiatorToken>
								<wsp:Policy>
									<sp:X509Token
										sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
										<wsp:Policy>
											<sp:WssX509V3Token10 />
										</wsp:Policy>
									</sp:X509Token>
								</wsp:Policy>
							</sp:InitiatorToken>
							<sp:RecipientToken>
								<wsp:Policy>
									<sp:X509Token
										sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
										<wsp:Policy>
											<sp:WssX509V3Token10 />
										</wsp:Policy>
									</sp:X509Token>
								</wsp:Policy>
							</sp:RecipientToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic128Rsa15 />
								</wsp:Policy>
							</sp:AlgorithmSuite>
							<sp:Layout>
								<wsp:Policy>
									<sp:Strict />
								</wsp:Policy>
							</sp:Layout>
							<sp:IncludeTimestamp />
							<sp:OnlySignEntireHeadersAndBody />
						</wsp:Policy>
					</sp:AsymmetricBinding>
					<sp:Wss10
						xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
						xmlns:wsa="http://www.w3.org/2005/08/addressing"
						xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
						xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
						xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:MustSupportRefKeyIdentifier />
							<sp:MustSupportRefIssuerSerial />
						</wsp:Policy>
					</sp:Wss10>
					<sp:SignedParts
						xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
						xmlns:wsa="http://www.w3.org/2005/08/addressing"
						xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
						xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
						xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<sp:Body />
						<sp:Header Name="Trace"
							Namespace="http://www.sap.com/webas/630/soap/features/runtime/tracing/" />
						<sp:Header Name="messageId"
							Namespace="http://www.sap.com/webas/640/soap/features/messageId/" />
						<sp:Header Name="CallerInformation"
							Namespace="http://www.sap.com/webas/712/soap/features/runtime/metering/" />
						<sp:Header Name="Session"
							Namespace="http://www.sap.com/webas/630/soap/features/session/" />
						<sp:Header Name="To"
							Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
						<sp:Header Name="From"
							Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
						<sp:Header Name="FaultTo"
							Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
						<sp:Header Name="ReplyTo"
							Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
						<sp:Header Name="MessageID"
							Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
						<sp:Header Name="RelatesTo"
							Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
						<sp:Header Name="Action"
							Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
						<sp:Header Name="To"
							Namespace="http://www.w3.org/2005/08/addressing" />
						<sp:Header Name="From"
							Namespace="http://www.w3.org/2005/08/addressing" />
						<sp:Header Name="FaultTo"
							Namespace="http://www.w3.org/2005/08/addressing" />
						<sp:Header Name="ReplyTo"
							Namespace="http://www.w3.org/2005/08/addressing" />
						<sp:Header Name="MessageID"
							Namespace="http://www.w3.org/2005/08/addressing" />
						<sp:Header Name="RelatesTo"
							Namespace="http://www.w3.org/2005/08/addressing" />
						<sp:Header Name="Action"
							Namespace="http://www.w3.org/2005/08/addressing" />
						<sp:Header Name="ReferenceParameters"
							Namespace="http://www.w3.org/2005/08/addressing" />
						<sp:Header Name="Sequence"
							Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" />
						<sp:Header Name="SequenceAcknowledgement"
							Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" />
						<sp:Header Name="AckRequested"
							Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" />
						<sp:Header Name="SequenceFault"
							Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" />
						<sp:Header Name="Sequence"
							Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
						<sp:Header Name="AckRequested"
							Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
						<sp:Header Name="SequenceAcknowledgement"
							Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
						<sp:Header Name="SequenceFault"
							Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
						<sp:Header Name="UsesSequenceSTR"
							Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
						<sp:Header Name="UsesSequenceSSL"
							Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
					</sp:SignedParts>
					<sp:EncryptedParts
						xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
						xmlns:wsa="http://www.w3.org/2005/08/addressing"
						xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
						xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
						xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<sp:Body />
					</sp:EncryptedParts>
					<sp:SignedEncryptedSupportingTokens
						xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
						xmlns:wsa="http://www.w3.org/2005/08/addressing"
						xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
						xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
						xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:UsernameToken
								sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
								<wsp:Policy>
									<sp:WssUsernameToken10 />
								</wsp:Policy>
							</sp:UsernameToken>
						</wsp:Policy>
					</sp:SignedEncryptedSupportingTokens>
				</wsp:All>
			</wsp:All>
			<wsp:All>
				<sapattahnd:Enabled
					xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
				<saptrnbnd:OptimizedXMLTransfer
					uri="http://xml.sap.com/2006/11/esi/esp/binxml"
					xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
					wsp:Optional="true" />
				<wsaw:UsingAddressing
					xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
					wsp:Optional="true" />
				<wsp:All
					xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
					<sp:AsymmetricBinding
						xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
						xmlns:wsa="http://www.w3.org/2005/08/addressing"
						xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
						xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
						xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:InitiatorToken>
								<wsp:Policy>
									<sp:X509Token
										sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
										<wsp:Policy>
											<sp:WssX509V3Token10 />
										</wsp:Policy>
									</sp:X509Token>
								</wsp:Policy>
							</sp:InitiatorToken>
							<sp:RecipientToken>
								<wsp:Policy>
									<sp:X509Token
										sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
										<wsp:Policy>
											<sp:WssX509V3Token10 />
										</wsp:Policy>
									</sp:X509Token>
								</wsp:Policy>
							</sp:RecipientToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic128Rsa15 />
								</wsp:Policy>
							</sp:AlgorithmSuite>
							<sp:Layout>
								<wsp:Policy>
									<sp:Strict />
								</wsp:Policy>
							</sp:Layout>
							<sp:IncludeTimestamp />
							<sp:OnlySignEntireHeadersAndBody />
						</wsp:Policy>
					</sp:AsymmetricBinding>
					<sp:Wss10
						xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
						xmlns:wsa="http://www.w3.org/2005/08/addressing"
						xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
						xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
						xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:MustSupportRefKeyIdentifier />
							<sp:MustSupportRefIssuerSerial />
						</wsp:Policy>
					</sp:Wss10>
					<sp:SignedParts
						xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
						xmlns:wsa="http://www.w3.org/2005/08/addressing"
						xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
						xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
						xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<sp:Body />
						<sp:Header Name="Trace"
							Namespace="http://www.sap.com/webas/630/soap/features/runtime/tracing/" />
						<sp:Header Name="messageId"
							Namespace="http://www.sap.com/webas/640/soap/features/messageId/" />
						<sp:Header Name="CallerInformation"
							Namespace="http://www.sap.com/webas/712/soap/features/runtime/metering/" />
						<sp:Header Name="Session"
							Namespace="http://www.sap.com/webas/630/soap/features/session/" />
						<sp:Header Name="To"
							Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
						<sp:Header Name="From"
							Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
						<sp:Header Name="FaultTo"
							Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
						<sp:Header Name="ReplyTo"
							Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
						<sp:Header Name="MessageID"
							Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
						<sp:Header Name="RelatesTo"
							Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
						<sp:Header Name="Action"
							Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
						<sp:Header Name="To"
							Namespace="http://www.w3.org/2005/08/addressing" />
						<sp:Header Name="From"
							Namespace="http://www.w3.org/2005/08/addressing" />
						<sp:Header Name="FaultTo"
							Namespace="http://www.w3.org/2005/08/addressing" />
						<sp:Header Name="ReplyTo"
							Namespace="http://www.w3.org/2005/08/addressing" />
						<sp:Header Name="MessageID"
							Namespace="http://www.w3.org/2005/08/addressing" />
						<sp:Header Name="RelatesTo"
							Namespace="http://www.w3.org/2005/08/addressing" />
						<sp:Header Name="Action"
							Namespace="http://www.w3.org/2005/08/addressing" />
						<sp:Header Name="ReferenceParameters"
							Namespace="http://www.w3.org/2005/08/addressing" />
						<sp:Header Name="Sequence"
							Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" />
						<sp:Header Name="SequenceAcknowledgement"
							Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" />
						<sp:Header Name="AckRequested"
							Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" />
						<sp:Header Name="SequenceFault"
							Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" />
						<sp:Header Name="Sequence"
							Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
						<sp:Header Name="AckRequested"
							Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
						<sp:Header Name="SequenceAcknowledgement"
							Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
						<sp:Header Name="SequenceFault"
							Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
						<sp:Header Name="UsesSequenceSTR"
							Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
						<sp:Header Name="UsesSequenceSSL"
							Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" />
					</sp:SignedParts>
					<sp:EncryptedParts
						xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
						xmlns:wsa="http://www.w3.org/2005/08/addressing"
						xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
						xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
						xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<sp:Body />
					</sp:EncryptedParts>
					<sp:SignedEncryptedSupportingTokens
						xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
						xmlns:wsa="http://www.w3.org/2005/08/addressing"
						xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
						xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
						xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:UsernameToken
								sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
								<wsp:Policy>
									<sp:WssUsernameToken10 />
								</wsp:Policy>
							</sp:UsernameToken>
						</wsp:Policy>
					</sp:SignedEncryptedSupportingTokens>
				</wsp:All>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="IF__ZWS_StorageResultMessage">
		<wsp:ExactlyOne>
			<wsp:All>
				<sapsession:Session
					xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
					<sapsession:enableSession>false</sapsession:enableSession>
				</sapsession:Session>
				<sapcentraladmin:CentralAdministration
					xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/"
					wsp:Optional="true">
					<sapcentraladmin:BusinessApplicationID>029B58B72E821EDAA2BC9C6F6D30460A
					</sapcentraladmin:BusinessApplicationID>
				</sapcentraladmin:CentralAdministration>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="OP__ZStorageResultMessage">
		<wsp:ExactlyOne>
			<wsp:All>
				<saptrhnw05:required
					xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
				<sapcomhnd:enableCommit
					xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
				<sapblock:enableBlocking
					xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
				<saprmnw05:enableWSRM
					xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsdl:types>
		<xsd:schema attributeFormDefault="qualified"
			targetNamespace="urn:sap-com:document:sap:rfc:functions"
			xmlns:tns="urn:sap-com:document:sap:rfc:functions">
			<xsd:simpleType name="date10">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="10" />
					<xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string">
				<xsd:restriction base="xsd:string" />
			</xsd:simpleType>
			<xsd:simpleType name="time">
				<xsd:restriction base="xsd:time">
					<xsd:pattern value="[0-9]{2}:[0-9]{2}:[0-9]{2}" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
		<xsd:schema attributeFormDefault="qualified"
			targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style"
			xmlns:n0="urn:sap-com:document:sap:rfc:functions">
			<xsd:import
				namespace="urn:sap-com:document:sap:rfc:functions" />
			<xsd:complexType name="ZwsStSrmRequest">
				<xsd:sequence>
					<xsd:element name="MessageHeader"
						type="tns:ZwsStMessageHeader" />
					<xsd:element name="Srm" type="tns:ZwsTtSrm" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZwsStSrm">
				<xsd:sequence>
					<xsd:element name="Sequence" type="xsd:int" />
					<xsd:element name="SapDocumentLineNo" type="n0:string" />
					<xsd:element name="HU" type="xsd:int" />
					<xsd:element name="ItemCode" type="n0:string" />
					<xsd:element name="ResultQty" type="xsd:int" />
					<xsd:element name="Uom" type="n0:string" />
					<xsd:element name="UserId" type="n0:string" />
					<xsd:element name="ResultDate" type="n0:date10" />
					<xsd:element name="ResultTime" type="n0:time" />
					<xsd:element name="LocationNo" type="n0:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZwsStMessageHeader">
				<xsd:sequence>
					<xsd:element name="MsgId" type="n0:string" />
					<xsd:element name="SapDocNo" type="n0:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZwsStSrmResponse">
				<xsd:sequence>
					<xsd:element name="MessageHeader"
						type="tns:ZwsStResultMessageHeader" />
					<xsd:element name="ResponseMessageHeader"
						type="tns:ZwsStResponseMessageHeader" />
					<xsd:element name="ResponseMessage"
						type="tns:ZwsTtResponseMessage" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZwsStResponseMessageHeader">
				<xsd:sequence>
					<xsd:element name="ResponseCode" type="n0:string" />
					<xsd:element name="ResponseDescription"
						type="n0:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZwsStResultMessageHeader">
				<xsd:sequence>
					<xsd:element name="MsgId" type="n0:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZwsStResponseMessage">
				<xsd:sequence>
					<xsd:element name="Sequence" type="xsd:int" />
					<xsd:element name="ResponseCode" type="n0:string" />
					<xsd:element name="ResponseDescription"
						type="n0:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZwsTtSrm">
				<xsd:sequence>
					<xsd:element name="item" type="tns:ZwsStSrm"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZwsTtResponseMessage">
				<xsd:sequence>
					<xsd:element name="item"
						type="tns:ZwsStResponseMessage" minOccurs="0"
						maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ZStorageResultMessage">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="StorageResultMsgRequest"
							type="tns:ZwsStSrmRequest" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ZStorageResultMessageResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="StorageResultMsgResponse"
							type="tns:ZwsStSrmResponse" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ZStorageResultMessage">
		<wsdl:part name="parameters"
			element="tns:ZStorageResultMessage" />
	</wsdl:message>
	<wsdl:message name="ZStorageResultMessageResponse">
		<wsdl:part name="parameter"
			element="tns:ZStorageResultMessageResponse" />
	</wsdl:message>
	<wsdl:portType name="ZWS_STORAGERESULTMESSAGE">
		<wsdl:documentation>
			<sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
				<sapdoc:docitem
					docURL="http://s-sap-01.corp.al-test.com:8080/sap/bc/esdt/docu/sd_text?sap-client=100&amp;sd_name=ZWS_STORAGERESULTMESSAGE" />
			</sapdoc:sapdoc>
		</wsdl:documentation>
		<wsdl:operation name="ZStorageResultMessage">
			<wsp:Policy>
				<wsp:PolicyReference
					URI="#OP__ZStorageResultMessage" />
			</wsp:Policy>
			<wsdl:input message="tns:ZStorageResultMessage" />
			<wsdl:output message="tns:ZStorageResultMessageResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ZBN_STORAGE_RESULT_MESSAGE"
		type="tns:ZWS_STORAGERESULTMESSAGE">
		<wsp:Policy>
			<wsp:PolicyReference
				URI="#BN__ZBN_STORAGE_RESULT_MESSAGE" />
		</wsp:Policy>
		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="ZStorageResultMessage">
			<soap:operation
				soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZWS_StorageResultMessage:ZStorageResultMessageRequest"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ZBN_STORAGE_RESULT_MESSAGE_soap12"
		type="tns:ZWS_STORAGERESULTMESSAGE">
		<wsp:Policy>
			<wsp:PolicyReference
				URI="#BN__ZBN_STORAGE_RESULT_MESSAGE_soap12" />
		</wsp:Policy>
		<wsoap12:binding
			transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="ZStorageResultMessage">
			<wsoap12:operation
				soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZWS_StorageResultMessage:ZStorageResultMessageRequest"
				style="document" />
			<wsdl:input>
				<wsoap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<wsoap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ZWS_STORAGE_RESULT_MESSAGE">
		<wsdl:port name="ZBN_STORAGE_RESULT_MESSAGE"
			binding="tns:ZBN_STORAGE_RESULT_MESSAGE">
			<soap:address
				location="http://s-sap-01.corp.al-test.com:8080/sap/bc/srt/rfc/sap/zws_storageresultmessage/100/zws_storage_result_message/zbn_storage_result_message" />
		</wsdl:port>
		<wsdl:port name="ZBN_STORAGE_RESULT_MESSAGE_soap12"
			binding="tns:ZBN_STORAGE_RESULT_MESSAGE_soap12">
			<wsoap12:address
				location="http://s-sap-01.corp.al-test.com:8080/sap/bc/srt/rfc/sap/zws_storageresultmessage/100/zws_storage_result_message/zbn_storage_result_message" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>