ws-consume/src/main/resources/domain/wsdl/WMS7_SPMOnly.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	targetNamespace="http://server.webservice.wms7.daifuku.co.jp"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ns="http://server.webservice.wms7.daifuku.co.jp"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ax21="http://msg.webservice.wms7.daifuku.co.jp/xsd"
	xmlns:ns1="http://org.apache.axis2/xsd"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl">
	<wsdl:types>
		<xs:schema attributeFormDefault="qualified"
			elementFormDefault="qualified"
			targetNamespace="http://msg.webservice.wms7.daifuku.co.jp/xsd">
			<xs:complexType name="SPMHeader">
				<xs:sequence>
					<xs:element minOccurs="0" name="msgId" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="sapDocumentNo"
						nillable="true" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="SPMDetail">
				<xs:sequence>
					<xs:element minOccurs="0" name="batchNo" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="deleteFlag"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="expiryDate"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="hu" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="itemCode"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="planQty" type="xs:int" />
					<xs:element minOccurs="0" name="sapDocumentLineNo"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="seqNo" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="WMS7Response">
				<xs:sequence>
					<xs:element minOccurs="0" name="messageHeader"
						nillable="true" type="xs:anyType" />
					<xs:element minOccurs="0" name="responseMessageHeader"
						nillable="true" type="ax21:ResponseMessageHeader" />
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="responseMessages" nillable="true"
						type="ax21:ResponseMessage" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ResponseMessageHeader">
				<xs:sequence>
					<xs:element minOccurs="0" name="responseCode"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="responseDescription"
						nillable="true" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ResponseMessage">
				<xs:sequence>
					<xs:element minOccurs="0" name="responseCode"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="responseDescription"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="sequence" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema attributeFormDefault="qualified"
			elementFormDefault="qualified"
			targetNamespace="http://server.webservice.wms7.daifuku.co.jp"
			xmlns:ax22="http://msg.webservice.wms7.daifuku.co.jp/xsd">
			<xs:import
				namespace="http://msg.webservice.wms7.daifuku.co.jp/xsd" />
			<xs:element name="StoragePlanMessage">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="spmHeader"
							nillable="true" type="ax22:SPMHeader" />
						<xs:element maxOccurs="unbounded" minOccurs="0"
							name="spmDetail" nillable="true" type="ax22:SPMDetail" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="StoragePlanMessageResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true"
							type="ax22:WMS7Response" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="StoragePlanMessageRequest">
		<wsdl:part name="parameters" element="ns:StoragePlanMessage" />
	</wsdl:message>
	<wsdl:message name="StoragePlanMessageResponse">
		<wsdl:part name="parameters"
			element="ns:StoragePlanMessageResponse" />
	</wsdl:message>
	<wsdl:portType name="WMS7PortType">
		<wsdl:operation name="StoragePlanMessage">
			<wsdl:input message="ns:StoragePlanMessageRequest"
				wsaw:Action="urn:StoragePlanMessage" />
			<wsdl:output message="ns:StoragePlanMessageResponse"
				wsaw:Action="urn:StoragePlanMessageResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WMS7Soap11Binding"
		type="ns:WMS7PortType">
		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="StoragePlanMessage">
			<soap:operation soapAction="urn:StoragePlanMessage"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WMS7">
		<wsdl:port name="WMS7HttpSoap11Endpoint"
			binding="ns:WMS7Soap11Binding">
			<soap:address
				location="http://127.0.0.1:8090/wms7/services/WMS7.WMS7HttpSoap11Endpoint/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>